<!DOCTYPE html>
<html>
  <head>
    <title>MashBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if current_user %>
        <script>
          window.currentUser = {
            'id': <%= current_user.id %>,
            'email': "<%= current_user.email %>",
            'fname': "<%= current_user.fname %>",
            'lname': "<%= current_user.lname %>",
            'birthday': "<%= current_user.birthday %>",
            'gender': "<%= current_user.gender %>"
          };
        </script>
    <% end %>

    <script type="text/javascript">
      window.bell = "<%=image_url('bell.svg')  %>"
      window.down = "<%=image_url('down.svg')  %>"
      window.messages = "<%=image_url('messages.svg')  %>"
      window.group = "<%=image_url('group.svg')  %>"
      window.video = "<%=image_url('video.svg')  %>"
      window.home = "<%=image_url('home.svg')  %>"
      window.search = "<%=image_url('search.svg')  %>"
      window.m = "<%=image_url('m.svg')  %>"
      window.linkedin = "<%=image_url('linkedin.svg')  %>"
      window.github = "<%=image_url('github.svg')  %>"
      window.person = "<%=image_url('person.svg')  %>"
      window.male = "<%=image_url('male.png')  %>"
      window.female = "<%=image_url('female.png')  %>"
      window.ex = "<%=image_url('ex.svg')  %>"
      window.game = "<%=image_url('game.png')  %>"
      window.ghub = "<%=image_url('ghub.png')  %>"
      window.gwhite = "<%=image_url('gwhite.png')  %>"
      window.angel = "<%=image_url('angel.png')  %>"
      window.blue = "<%=image_url('blue.png')  %>"
      window.black = "<%=image_url('black.png')  %>"
      window.white = "<%=image_url('white.png')  %>"
      window.port = "<%=image_url('port.png')  %>"
      window.creator = "<%=image_url('creator.png')  %>"
      window.lifull = "<%=image_url('lifull.png')  %>"
      window.ghubfull = "<%=image_url('ghubfull.png')  %>"
      window.earth = "<%=image_url('earth.png')  %>"
      window.resume = "<%=image_url('resume.png')  %>"
      window.resume1 = "<%=image_url('resume1.png')  %>"
      window.doge = "<%=image_url('doge.png')  %>"
      window.liu = "<%=image_url('liu.png')  %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
